[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/eclouder/learning-cxx.git
[submodule "InfiniTensor"]
	path = InfiniTensor
	url = https://github.com/eclouder/InfiniTensor
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/eclouder/TinyInfiniTensor
